<div>
    <div class="footerCountainer">
        <div class="iconFooterCountainer">
            <button class="bttnFooter">
                <a class="menuBarText" href="index.html"><b>Home</b></a>
            </button>
        </div>
        <div class="iconFooterCountainer">
            <button class="bttnFooter">
                <a class="menuBarText" href="impressum.html"><b>Impressum</b></a>
            </button>
        </div>
        <div class="iconFooterCountainer">
            <button class="bttnFooter">
                <a class="menuBarText" href="dsgvo.html"><b>Datenschutz</b></a>
            </button>
        </div>
    </div>
</div>
