<div class="headerNoSearchCountainer">
    <div>
        <div class="mainIconImpressum">
            <h1><a class="mainIconText" href="index.html">Postgram</a></h1>
        </div>
    </div>
    <div class="iconCountainerPosi">
        <div class="iconCountainer">
            <button class="bttnHeader">
                <a class="menuBarText" href="index.html"><b>Home</b></a>
            </button>
        </div>
        <div class="iconCountainer">
            <button class="bttnHeader">
                <a class="menuBarText" href="impressum.html"><b>Impressum</b></a>
            </button>
        </div>
        <div class="iconCountainer">
            <button class="bttnHeader">
                <a class="menuBarText" href="dsgvo.html"><b>Datenschutz</b></a>
            </button>
        </div>
    </div>
</div>